.table {
  .row {
    justify-content: center;
  }

  thead {
    > tr:first-child {
      display: none;
    }

    > tr th {
      background: white;
      position: sticky;
      top: 0;
    }
  }

  .nav-link {
    padding: 0;
  }

  .easy {
    background-color: #5cb85c !important;
  }

  .medium {
    background-color: #f0ad4e !important;
  }

  .hard {
    background-color: #d9534f !important;
  }

  .companies,
  .patterns {
    margin: 0;
    width: 100%;
  }

  .row span{
    width: auto;
  }

  .companies img {
    padding: 5px;
    width: auto;
  }

  .react-toggle {
    top: 7px;
  }

  .reset-button {
    margin-top: 10px;
    font-size: 0.7rem;
  }
}
